<mat-card class="page">
  <div class="navigation">
    <mat-card-content>
      <a>Basic information</a>
      <a>History of state changes</a>
      <a>Multimedia attachments</a>
    </mat-card-content>
  </div>
  <div class="content">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h2>Add work request</h2>
          <mat-error *ngIf="addWorkingPlanInvalid">
              Error adding work request
          </mat-error>
  
          <mat-form-field class="full-width-input">
              <label>Type</label>
              <select matNativeControl required>
                  
              </select>
              <mat-error>
                  Please provide a valid type
              </mat-error>
          </mat-form-field>
  
          <mat-form-field class="full-width-input">
              <input matInput placeholder="Status" formControlName="status" required>
              <mat-error>
                Please provide a valid status
              </mat-error>
          </mat-form-field>
  
          <mat-form-field class="full-width-input">
              <input matInput placeholder="Address" formControlName="address" required>
              <mat-error>
                Please provide a valid address
              </mat-error>
            </mat-form-field>
  
          <mat-form-field class="full-width-input">
              <label>TypeOfWork</label>
              <select matNativeControl required>
                  
              </select>
              <mat-error>
                  Please provide a valid type of work
              </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
              <mat-label>StartDate</mat-label>
              <input matInput [matDatepicker]="pickerStart">
              <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
              <mat-datepicker #pickerStart></mat-datepicker>
              <mat-error>
                Please provide a valid date.
              </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
              <mat-label>EndDate</mat-label>
              <input matInput [matDatepicker]="pickerEnd">
              <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
              <mat-datepicker #pickerEnd></mat-datepicker>
              <mat-error>
                Please provide a valid date.
              </mat-error>
          </mat-form-field>
          
  
          <mat-form-field class="full-width-input">
              <input matInput placeholder="CreatedBy" formControlName="createdBy" required>
              <mat-error>
                Please provide a valid creater.
              </mat-error>
          </mat-form-field>
  
          <mat-form-field class="full-width-input">
              <input matInput placeholder="Purpose" formControlName="purpose" required>
              <mat-error>
                Please provide a valid purpose
              </mat-error>
            </mat-form-field>
  
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Details" formControlName="details" required>
              <mat-error>
                Please provide a valid details
              </mat-error>
            </mat-form-field>
  
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Notes" formControlName="notes" required>
              <mat-error>
                Please provide a valid notes
              </mat-error>
            </mat-form-field>
  
            <section class="emergency" required>
              <mat-checkbox matInput class="example-margin">Emergency work</mat-checkbox>
          </section>
  
  
          <mat-form-field class="full-width-input">
              <input matInput placeholder="Company" formControlName="company" required>
              <mat-error>
                Please provide a valid Company
              </mat-error>
            </mat-form-field>
  
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Phone" formControlName="phone" required>
              <mat-error>
                Please provide a valid Phone No.
              </mat-error>
            </mat-form-field>
  
            
  
            <button mat-raised-button color="dark">AddWorkingPlan</button>
      </form>
  </mat-card-content>
  </div>
</mat-card>