Web2 Backend/*.swp
*.*~
Web2 Backend/project.lock.json
Web2 Backend/.DS_Store
Web2 Backend/*.pyc
Web2 Backend/nupkg/

# Visual Studio Code
Web2 Backend/.vscode

# Rider
Web2 Backend/.idea

# User-specific files
Web2 Backend/*.suo
Web2 Backend/*.user
Web2 Backend/*.userosscache
Web2 Backend/*.sln.docstates

# Build results
Web2 Backend/Web2 Backend/[Dd]ebug/
Web2 Backend/Web2 Backend/[Dd]ebugPublic/
Web2 Backend/Web2 Backend/[Rr]elease/
Web2 Backend/Web2 Backend/[Rr]eleases/
Web2 Backend/Web2 Backend/x64/
Web2 Backend/Web2 Backend/x86/
Web2 Backend/Web2 Backend/build/
Web2 Backend/Web2 Backend/bld/
Web2 Backend/Web2 Backend/[Bb]in/
Web2 Backend/Web2 Backend/[Oo]bj/
Web2 Backend/Web2 Backend/[Oo]ut/
Web2 Backend/Web2 Backend/msbuild.log
Web2 Backend/Web2 Backend/msbuild.err
Web2 Backend/Web2 Backend/msbuild.wrn

# Visual Studio 2015
Web2 Backend/.vs/

webfront/.DS_STORE

webfront//dist/
webfront//bazel-out
webfront//integration/bazel/bazel-*
webfront/*.log
webfront/node_modules

# Include when developing application packages.
webfront/pubspec.lock
webfront/.c9
webfront/.idea/
webfront/.devcontainer/*
webfront/!.devcontainer/README.md
webfront/!.devcontainer/recommended-devcontainer.json
webfront/!.devcontainer/recommended-Dockerfile
webfront/.settings/
webfront/.vscode/launch.json
webfront/.vscode/settings.json
webfront/.vscode/tasks.json
webfront/*.swo
webfront/*.swp
webfront/modules/.settings
webfront/modules/.vscode
webfront/.vimrc
webfront/.nvimrc

# Don't check in secret files
webfront/*secret.js

# Ignore npm/yarn debug log
webfront/npm-debug.log
webfront/yarn-error.log

# build-analytics
webfront/.build-analytics

# rollup-test output
/modules/rollup-test/dist/

# User specific bazel settings
webfront/.bazelrc.user

# User specific ng-dev settings
webfront/.ng-dev.user*

webfront/.notes.md
webfront/baseline.json

# Ignore .history for the xyz.local-history VSCode extension
webfront/.history

# CLDR data
webfront/tools/gulp-tasks/cldr/cldr-data/

# Husky
webfront/.husky/_