<mat-card>
    <mat-card-content>
        <div class="controls">
            <div class="left">
                <button mat-raised-button color="primary" class="margin" (click)="onNew()">New</button>
                <button mat-raised-button color="primary" (click)="allClick()">All</button>
                <button mat-raised-button color="primary" (click)="mineClick()">Mine</button>
            </div>

            <div class="right">
                <button mat-raised-button color="primary" (click)="fetch()">Filter</button>
                <input matInput type="text" placeholder="Search"
                 [(ngModel)]="search" 
                 (input)="onSearchChange($event)">
                 <mat-form-field class="full-width-input">
                  <label>Sort:</label>
                    <mat-select matNativeControl [(ngModel)]="sort">
                      <mat-option value="ASC">ASC</mat-option>
                      <mat-option value="DESC">DESC</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="operater">
            <th mat-header-cell *matHeaderCellDef> Operater </th>
            <td mat-cell *matCellDef="let element"> {{element.operater.email}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <ng-container matColumnDef="eta">
            <th mat-header-cell *matHeaderCellDef> ETA </th>
            <td mat-cell *matCellDef="let element"> {{element.eta}} </td>
          </ng-container>

          <ng-container matColumnDef="etr">
            <th mat-header-cell *matHeaderCellDef> ETR </th>
            <td mat-cell *matCellDef="let element"> {{element.etr}} </td>
          </ng-container>

          <ng-container matColumnDef="ata">
            <th mat-header-cell *matHeaderCellDef> ATA </th>
            <td mat-cell *matCellDef="let element"> {{element.ata}} </td>
          </ng-container>

          <ng-container matColumnDef="calls">
            <th mat-header-cell *matHeaderCellDef> Calls </th>
            <td mat-cell *matCellDef="let element"> {{element.calls}} </td>
          </ng-container>

          <ng-container matColumnDef="affectedCustomers">
            <th mat-header-cell *matHeaderCellDef> Affected Customers </th>
            <td mat-cell *matCellDef="let element"> {{element.affectedCustomers}} </td>
          </ng-container>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Controls </th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button color="primary" (click)="delete(element.id)">Delete</button>
              <button mat-raised-button color="primary" (click)="take(element.id)">Take</button>
              <button mat-raised-button color="primary" (click)="edit(element.id)">Edit</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
        (page)="handlePage($event)"
        [length]="totalSize"
        [pageIndex]="page"
        showFirstLastButtons></mat-paginator>
      </div>

    </mat-card-content>
</mat-card>

