<mat-card>
    <mat-card-content>
        <div class="controls">
          <div class="left">
            <button mat-raised-button color="primary" class="margin">New</button>
            <button mat-raised-button color="primary">All</button>
            <button mat-raised-button color="primary">Mine</button>
        </div>

        <div class="right">
            <button mat-raised-button color="primary">Filter</button>
        </div>
        </div>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
          
                 <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- Id Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
          <div class="controls">
            <div class="left">
                <button mat-raised-button color="primary">Older</button>
            </div>

            <div class="right">
                <button mat-raised-button color="primary">Newer</button>
            </div>
        </div>
        
    </mat-card-content>
</mat-card>
