<p >
  <mat-toolbar color="primary" class="toolbar">

    <span>Web 2</span>
    <div class="links" *ngIf="isUserLogin">
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/work-requests" routerLinkActive="active">Work requests</a>
      <a routerLink="/view-safety-document" routerLinkActive="active">Safety document</a>
      <a routerLink="/incidents" routerLinkActive="active">Incidents</a>
      <a routerLink="/view-working-plan" routerLinkActive="active">Working Plans</a>
      <a routerLink="/view-switching-plans" routerLinkActive="active">Switching plans</a>
      <a routerLink="/calls" routerLinkActive="active">Calls</a>
      <a routerLink="/consumers" routerLinkActive="active">Consumers</a>
      <a routerLink="/crews" routerLinkActive="active">Crews</a>
      <a routerLink="/devices" routerLinkActive="active">Devices</a>
      <a routerLink="/user-verification" routerLinkActive="active">User verification</a>
      <a routerLink="/user-edit" routerLinkActive="active">{{name}}(edit)</a>
      <a routerLink="/settings" routerLinkActive="active">Settings</a>
      <a routerLink="/notifications" routerLinkActive="active">Notifications</a>
      <a href="#" (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
    <div class="links" *ngIf="!isUserLogin">
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/registration" routerLinkActive="active">Registration</a>
    </div>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>

