<p >
  <mat-toolbar color="primary" class="toolbar">

    <span>Web 2</span>
    <div class="links">
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/registration" routerLinkActive="active">Registration</a>
      <a routerLink="/add-safety-document" routerLinkActive="active">Add safety document</a>
      <a routerLink="/view-safety-document" routerLinkActive="active">View safety document</a>
      <a routerLink="/add-working-plan" routerLinkActive="active">Add Working Plan</a>
      <a routerLink="/view-working-plan" routerLinkActive="active">View Working Plan</a>
      <a routerLink="/add-switchinng-plan" routerLinkActive="active">Add switching plan</a>  
          
    </div>
    
  </mat-toolbar>
</p>

<router-outlet></router-outlet>